/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}th,td{vertical-align:top;}strong,b{font-weight:bold;}
.ui-dialog th, .ui-dialog td { vertical-align: middle; padding: .2em 0; }
.forms-dialog-footer { float: right; }
.forms-dialog-prompt .ui-dialog-titlebar-close { display: none; }
.forms-dialog-export-embedcode { width: 100%; height: 5em; }
.forms-dialog-collection-list { max-width: 90%; min-width: 600px; }
.forms-dialog-collection-list table { width: 100%; }
.forms-dialog-collection-list th, .forms-dialog-collection-list td { padding: .4em; }
.forms-dialog-collection-list th { background: rgba(255, 255, 255, .5); }
.forms-dialog-collection-list td { border: 1px solid rgba(255, 255, 255, .05); }
.forms-dialog-collection-list tr { font-weight: inherit !important; }
.forms-dialog-collection-list tr.odd td { background: rgba(255, 255, 255, .3); }
.forms-dialog-collection-list tr.even td { background: rgba(255, 255, 255, .2); }
.forms-dialog-form-properties { width: 450px !important; }
.forms-dialog-dropbox-items .forms-list-actions { width: 58px; }
.forms-dialog-html-content-editor { width: 750px !important; }
.forms-ltr { direction: ltr; }
.forms-rtl { direction: rtl; }
.rounded-corner { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.forms-error-wrapper { padding: .2em; }
.forms-rtl .forms-error-wrapper .ui-icon-alert:first-child { float: left; margin-right: .3em; }
.forms-ltr .forms-error-wrapper .ui-icon-alert:first-child { float: right; margin-left: .3em; }
.forms-form-wrapper { display: inline-block; position: relative; }
.forms-form-wrapper select { width: auto; }
.forms-form-wrapper .loading-image { background-color: rgba(255, 255, 255, .7) !important; }
.forms-form-item { display: block; }
.forms-layout-1 .forms-form-item label { width: 5em; display: inline-block; }
.forms-layout-2 .forms-form-item label { display: block; }
.forms-form-item-mandatory { color: #F00; font-weight: bold; top: .5em; }
.forms-form-item-error-message { min-height: 1.3em; font-weight: bold; color: #F00; margin: 0; padding: 0; }
.forms-ltr .forms-form-item-error-message-item { margin-left: 5em; }
.forms-rtl .forms-form-item-error-message-item { margin-right: 5em; }
.forms-ltr .forms-form-submit { text-align: right; }
.forms-rtl .forms-form-submit { text-align: left; }
.forms-phone-field { direction: ltr !important; }
.forms-empty-field { color: #BBB; }
.forms-leads-forms-list-panel { background: #E9E9E9; width: 150px; }
.forms-leads-forms-list-item { padding: .3em .4em; cursor: pointer; }
.forms-leads-forms-list-item:hover { color: #F80; background: rgba(255, 255, 255, .5); border-top: rgba(255, 255, 255, .9); border-bottom: rgba(0, 0, 0, .1); }
.forms-leads-list-panel { background: #F3F3F3; border-left: 1px solid #B2B2B2; border-right: 1px solid #B2B2B2; }
.forms-leads-list-panel table { width: 100%; }
.forms-leads-list-panel tr.odd td { background: rgba(0, 0, 0, .02); }
.forms-leads-list-panel tr.even td { background: rgba(0, 0, 0, .01); }
.forms-leads-list-head th { padding: .3em .4em; background: #404040; color: #FFF; }
.forms-leads-list-item td { padding: .3em .4em; vertical-align: top; border: 1px solid #C9C9C9; border-top: 0; border-bottom: 0; }
.forms-leads-list-item td:first-child { border-left: 0; }
.forms-leads-list-item td:last-child { border-right: 0; }
.loading-image { position: absolute; top: 0; left: 0; min-width: 126px; min-height: 22px; width: 100%; height: 100%; background: rgba(0,0,0,.3) url(images/ajax-loader.gif) 50% 50% no-repeat; }
html, body { width: 100%; height: 100%; }
body { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
h1 { font-size: 2em; font-weight: bold; }
h2 { font-size: 1.4em; font-weight: bold; margin: .3em; }
h3 { font-size: .9em; color: #AAA; }
label { font-weight: bold; }
.ui-icon-wrapper { padding: 4px 0; cursor: pointer; display: inline-block; }
.ui-icon-wrapper .ui-icon { margin: 0 4px; }
.ui-icon-wrapper .ui-button-text { padding: 4px 0 !important; }
.ui-corner-all { -webkit-border-radius: 3px !important; -moz-border-radius: 3px !important; border-radius: 3px !important; }
.forms-clickable-td td { cursor: pointer; }
.forms-ltr .forms-list-actions { text-align: right; }
.forms-rtl .forms-list-actions { text-align: left; }
.forms-menu { height: 2em; padding: .4em; background: #404040; }
.forms-menu .ui-menu { position: absolute; top: .4em; min-width: 150px; min-height: 1.3em; }
.forms-properties-panel { background: #E9E9E9; width: 232px; }
.forms-properties-panel .forms-filler { font-size: 1em; }
.forms-properties-panel .forms-filler, .forms-properties-panel .forms-header { text-align: center;  color: rgba(0,0,0,.2); }
.forms-properties-panel .forms-header { font-weight: bold; }
.forms-properties-panel .forms-item { padding: .4em; border-top: 1px solid rgba(255, 255, 255, .2); border-bottom: 1px solid rgba(0, 0, 0, .1); }
.forms-properties-panel .forms-item:hover { background: rgba(255, 255, 255, .2); }
.forms-properties-panel .forms-item label { display: block; }
.forms-toolbox-panel { background: #E9E9E9; width: 150px; }
.forms-toolbox-item { padding: .3em .4em; cursor: pointer; }
.forms-toolbox-item:hover { color: #F80; background: rgba(255, 255, 255, .5); border-top: rgba(255, 255, 255, .9); border-bottom: rgba(0, 0, 0, .1); }
.forms-workspace-panel { background: #F3F3F3; border-left: 1px solid #B2B2B2; border-right: 1px solid #B2B2B2; }
.forms-workspace-header { background: #FFF; padding: 1em .8em; line-height: 1; overflow: hidden; }
.forms-workspace-header-form-name { float: left; }
.forms-workspace-header-save-status { float: right; }
.forms-workspace-items { width: 100%; }
.forms-workspace-item:hover, .forms-workspace-items .sortable-placeholder { background: rgb(255, 255, 255); background: rgba(255, 255, 255, .5); }
.forms-workspace-item td { padding: .3em 0; vertical-align: top; }
.forms-workspace-items .sortable-placeholder { height: 3em; }
.forms-workspace-item .forms-workspace-item-grip { width: 16px; max-width: 16px; cursor: pointer; vertical-align: middle; }
.forms-workspace-item .forms-workspace-item-label { width: 100px; max-width: 100%; padding-top: .7em; }
.forms-workspace-item .forms-workspace-item-field { width: auto; position: relative; }
.forms-workspace-item .forms-workspace-item-delete-button { width: 25px; max-width: 25px; padding: 0 5px; vertical-align: middle; }
.forms-wrapper { width: 100%; height: 100%; }
