.forms-leads-forms-list-panel { background: #E9E9E9; width: 150px; }
.forms-leads-forms-list-item { padding: .3em .4em; cursor: pointer; }
.forms-leads-forms-list-item:hover { color: #F80; background: rgba(255, 255, 255, .5); border-top: rgba(255, 255, 255, .9); border-bottom: rgba(0, 0, 0, .1); }
.forms-leads-list-panel { background: #F3F3F3; border-left: 1px solid #B2B2B2; border-right: 1px solid #B2B2B2; }
.forms-leads-list-panel table { width: 100%; }
.forms-leads-list-panel tr.odd td { background: rgba(0, 0, 0, .02); }
.forms-leads-list-panel tr.even td { background: rgba(0, 0, 0, .01); }
.forms-leads-list-head th { padding: .3em .4em; background: #404040; color: #FFF; }
.forms-leads-list-item td { padding: .3em .4em; vertical-align: top; border: 1px solid #C9C9C9; border-top: 0; border-bottom: 0; }
.forms-leads-list-item td:first-child { border-left: 0; }
.forms-leads-list-item td:last-child { border-right: 0; }