.forms-builder-wrapper { width: 100%; height: 100%; }
.forms-builder-menu { height: 2em; padding: .4em; background: #404040; }
.forms-builder-menu .ui-menu { position: absolute; top: .4em; min-width: 150px; min-height: 1.3em; }
.forms-builder-toolbox-panel { background: #E9E9E9; width: 150px; }
.forms-toolbox-item { padding: .3em .4em; cursor: pointer; }
.forms-toolbox-item:hover { color: #F80; background: rgba(255, 255, 255, .5); border-top: rgba(255, 255, 255, .9); border-bottom: rgba(0, 0, 0, .1); }
.forms-builder-workspace-panel { background: #F3F3F3; border-left: 1px solid #B2B2B2; border-right: 1px solid #B2B2B2; }
.forms-builder-workspace-header { background: #FFF; padding: 1em .8em; line-height: 1; overflow: hidden; }
.forms-builder-workspace-header-form-name { float: left; }
.forms-builder-workspace-header-save-status { float: right; }
.forms-builder-workspace-items { width: 100%; }
.forms-workspace-item:hover, .forms-builder-workspace-items .sortable-placeholder { background: rgb(255, 255, 255); background: rgba(255, 255, 255, .5); }
.forms-workspace-item td, .forms-builder-workspace-items .sortable-placeholder { height: 3em; vertical-align: middle; }
.forms-workspace-item .forms-workspace-item-grip { width: 16px; max-width: 16px; cursor: pointer; }
.forms-workspace-item .forms-workspace-item-label { width: 100px; max-width: 100%; }
.forms-workspace-item .forms-workspace-item-field { width: auto; }
.forms-workspace-item .forms-workspace-item-delete-button { width: 25px; max-width: 25px; padding: 0 5px; }
.forms-workspace-item .forms-workspace-item-mandatory { color: #F00; font-weight: bold; }
.forms-builder-properties-panel { background: #E9E9E9; width: 232px; }
.forms-builder-properties-panel .forms-filler { font-size: 1em; }
.forms-builder-properties-panel .forms-filler, .forms-builder-properties-panel .forms-header { text-align: center;  color: rgba(0,0,0,.2); }
.forms-builder-properties-panel .forms-header { font-weight: bold; }
.forms-builder-properties-panel .forms-item { padding: .4em; border-top: 1px solid rgba(255, 255, 255, .2); border-bottom: 1px solid rgba(0, 0, 0, .1); }
.forms-builder-properties-panel .forms-item:hover { background: rgba(255, 255, 255, .2); }
.forms-builder-properties-panel .forms-item label { display: block; }
.forms-builder-dialog-prompt .ui-dialog-titlebar-close { display: none; }