.forms-builder-menu { background: #D6D6D6; padding: .2em 0; min-height: 1em; }
.forms-builder-menu .forms-menu-item { color: #727272; display: inline-block; padding: .3em .8em; border: 1px solid transparent; cursor: pointer; }
.forms-builder-menu .forms-menu-item:hover { color: #000; background: #E2E2E2; border-color: #E4E4E4; border-left-color: #CBCBCB; border-right-color: #CBCBCB; border-bottom-color: #808080; }
.forms-builder-toolbox { border: 1px solid black; width: 150px; height: 100%; display: inline-block; }
.forms-builder-toolbox .forms-toolbox-item { padding: 2px 8px; cursor: pointer; }
.forms-builder-toolbox .forms-toolbox-item:hover { color: #000A90; background-color: #EBF5FF; border-color: #C8EBFF; }
.forms-builder-workspace-wrapper { border: 1px solid black; min-width: 300px; height: 100%; display: inline-block; }
.forms-builder-workspace { width: 100%; }
.forms-builder-workspace .forms-workspace-item { border: 1px dotted #000; background-color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, .7); }
.forms-builder-workspace .forms-workspace-item:hover { border-style: solid; }
.forms-builder-workspace .forms-workspace-item td, .forms-builder-workspace .sortable-placeholder { height: 2em; vertical-align: middle; }
.forms-builder-workspace .forms-workspace-item .forms-workspace-item-grip { width: 16px; max-width: 16px; }
.forms-builder-workspace .forms-workspace-item .forms-workspace-item-label { width: 100px; max-width: 100%; }
.forms-builder-workspace .forms-workspace-item .forms-workspace-item-field { width: auto; }
.forms-builder-workspace .forms-workspace-item .forms-workspace-item-delete-button { width: 16px; max-width: 16px; }
.forms-builder-workspace .forms-workspace-item .forms-workspace-item-mandatory { color: #F00; font-weight: bold; }
.forms-builder-properties-panel { border: 1px solid black; width: 232px; height: 100%; display: inline-block; padding: .4em; }
.forms-builder-properties-panel .forms-header { font-weight: bold; }
.forms-builder-properties-panel .forms-item { padding: .4em; }
.forms-builder-properties-panel .forms-item label { display: block; }
.forms-builder-dialog-prompt .ui-dialog-titlebar-close { display: none; }