.forms-builder-menu { background: #292929; padding: .2em 0; min-height: 1em; }
.forms-builder-menu .forms-menu-item { color: #8D8D8D; display: inline-block; padding: .3em .8em; cursor: pointer; }
.forms-builder-menu .forms-menu-item:hover { color: #FFF; }
.forms-builder-toolbox { background: #E9E9E9; width: 150px; height: 100%; display: inline-block; }
.forms-builder-toolbox .forms-toolbox-item { padding: 2px 8px; cursor: pointer; }
.forms-builder-toolbox .forms-toolbox-item:hover { color: #FFF; background-color: rgba(255, 185, 0, .7); border-color: #FB0; }
.forms-builder-workspace-wrapper { background: #F3F3F3; border: 1px solid #B2B2B2; min-width: 300px; height: 100%; display: inline-block; }
.forms-builder-workspace-header { background: #FFF; height: 2em; padding: 1em .8em; line-height: 1; }
.forms-builder-workspace-header-form-name { float: left; }
.forms-builder-workspace-header-save-status { float: right; }
.forms-builder-workspace { width: 100%; }
.forms-builder-workspace .forms-workspace-item {}
.forms-builder-workspace .forms-workspace-item:hover, .forms-builder-workspace .sortable-placeholder { background: rgb(255, 255, 255); background: rgba(255, 255, 255, .5); }
.forms-builder-workspace .forms-workspace-item td, .forms-builder-workspace .sortable-placeholder { height: 2em; vertical-align: middle; }
.forms-builder-workspace .forms-workspace-item .forms-workspace-item-grip { width: 16px; max-width: 16px; cursor: pointer; }
.forms-builder-workspace .forms-workspace-item .forms-workspace-item-label { width: 100px; max-width: 100%; }
.forms-builder-workspace .forms-workspace-item .forms-workspace-item-field { width: auto; }
.forms-builder-workspace .forms-workspace-item .forms-workspace-item-delete-button { width: 20px; max-width: 20px; }
.forms-builder-workspace .forms-workspace-item .forms-workspace-item-mandatory { color: #F00; font-weight: bold; }
.forms-builder-properties-panel { background: #E9E9E9; width: 232px; height: 100%; display: inline-block; }
.forms-builder-properties-panel .forms-filler { color: rgba(0,0,0,.2); font-size: 1em; text-align: center; }
.forms-builder-properties-panel .forms-header { font-weight: bold; color: rgba(0, 0, 0, .1); }
.forms-builder-properties-panel .forms-item { padding: .4em; border-top: 1px solid rgba(255, 255, 255, .2); border-bottom: 1px solid rgba(0, 0, 0, .1); }
.forms-builder-properties-panel .forms-item:hover { background: rgba(255, 255, 255, .2); }
.forms-builder-properties-panel .forms-item label { display: block; }
.forms-builder-dialog-prompt .ui-dialog-titlebar-close { display: none; }